                                 // Estilos Para Panel Admin y User

// Personaliza los colores del Navbar
$color-bg: #1877f2;
$color-text: #ccc;
$color-link: green;
$color-link-hover: black;

                              // Estilos personalizados para el Navbar
.navbar-custom {
  background-color: $color-bg;
  height: 100px;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
  color: $color-text;
}

.navbar-custom .navbar-nav .nav-link:hover {
  color: $color-link-hover;
}

.text-capitalize{
  text-decoration: none;
}
.logoImage {
  width: 150px; /* Ajusta el ancho según tus necesidades */
  height: 100px; /* Ajusta la altura según tus necesidades */
}


.content-pro {
  padding: 20px;
  text-align: center;
}

.Titulo .nav-link {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.proyectos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.proyecto-card {
  flex: 0 0 calc(32% - 100px); /* Ajusta según el número de columnas deseadas */
  margin: 10px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}

.proyecto-card img {
  max-height: 150px;
}
.container-pro {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.container-pro .item-pro{
  padding: 3px;
  font-size: 1rem;
}

.proyecto-card p {
  font-size: 18px;
  margin: 0;
}

/* Estilos adicionales para dispositivos más pequeños (ajustar según sea necesario) */
@media only screen and (max-width: 1200px) {
  .proyecto-card {
    flex-basis: calc(40% - 20px); /* Dos columnas en pantallas medianas */
  }
}

@media only screen and (max-width: 757px) {
  .proyecto-card {
    flex-basis: calc(50% - 20px); /* Dos proyectos por línea en pantallas medianas */
  }
}
/* Estilos adicionales para dispositivos pequeños (ajustar según sea necesario) */
@media only screen and (max-width: 480px) {
  .proyecto-card {
    flex-basis: calc(100% ); /* Un proyecto por línea en pantallas pequeñas */
  }
}



.Datosesquina {
  z-index: 300;
  background: white;
  font-size: 6rem;
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
  color: black; /* Ajusta el color según tus necesidades */
  text-align: right;
  font-size: 12px; /* Ajusta el tamaño de la fuente según tus necesidades */
}

                                //Estilo para titulos
.Titulo {
  position: relative;
  top: 0px;
  margin: 10px;
  color: black;
  text-align: left;
  font-size: 1.2rem;
  z-index: 1;
  font-weight: 600;

  @media (max-width: 768px) {
    /* Estilos para pantallas más pequeñas */
    top: 0px;
    font-size: 15px;
  }

  @media (max-width: 576px) {
    /* Estilos para pantallas aún más pequeñas */
    top: 0px;
    font-size: 15px;
  }
}

                              // Estilos para el botón "Agregar Proyecto"
.AgregarProyectoButton {
  margin-left: 10px; // Ajusta el margen según tus necesidades
  background-color: #f0f2f5; // Color de fondo del botón (verde)
  border-color: black; // Color del borde del botón (verde)
  color: black; // Color del texto del botón (blanco)
  font-weight: 600;

  &:hover {
    background-color: #218838; // Color de fondo al pasar el ratón (verde oscuro)
    border-color: #1e7e34; // Color del borde al pasar el ratón (verde más oscuro)
  }
}
                                 // Estilos para el botón "Cerrar Sesión"
.CerrarSesionButton {
  margin-left: 10px; // Ajusta el margen según tus necesidades
  background-color: #f0f2f5; // Color de fondo del botón (rojo)
  border-color: black; // Color del borde del botón (rojo)
  color: black; // Color del texto del botón (blanco)
  font-weight: 600;

  &:hover {
    background-color: #c82333; // Color de fondo al pasar el ratón (rojo oscuro)
    border-color: #bd2130; // Color del borde al pasar el ratón (rojo más oscuro)
  }
}


.VentanaEmer1{
  margin: 0px;
  color: black;
}
.VentanaEmer{
  color: black;
}

.BienvenidoMensaje {
  font-size: 1.3rem; // Tamaño de la fuente
  font-weight: 600; // Peso de la fuente
  margin: 0; // Elimina el margen para que se alinee con otros elementos
  color: white; // Color del texto (puedes ajustar según tus necesidades)

  @media (max-width: 768px) {
    font-size: 1.2rem; // Ajustes para pantallas más pequeñas si es necesario
  }

  @media (max-width: 576px) {
    font-size: 1rem; // Ajustes adicionales para pantallas más pequeñas si es necesario
  }
}


.Dropdown-pro {
  position: absolute;
  margin: 10px;
}

.dropdown-toggle {
  border: none;
}

.proyectos-container .Dropdown-pro {
  position: absolute;
  bottom: 8px;
  right: 30px;
  margin: 10px;
  width: 20px;
}